body {
  background-color: #aaa;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  border: 0;
  border-bottom: 2px solid rgb(109, 165, 57);
  margin: 0px 20px;
  
}

input:focus {
  background: -prefix-linear-gradient(bottom, rgb(69, 96, 43), #aaa);
}

h2 {
  font-size: 40px;
  text-align: center;
  padding: 30px;
}

.app {
  height: 80vh;
  width: 100vw;
}

.form {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

.enlaces {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 100%;
  width: 100%;
}

.button {
  background-color: #444;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 300px;
  height: 100px;
}

a{
  color: #fff;
  text-decoration: none;
}